.contenedor--cajas {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.caja {
    max-width: 30%;
    .sombra-caja();
    &__imagen {
        width: 100%;
        overflow: hidden;
    }
    &__contenido {
        padding: 25px;
        background-color: @color-claro;
    }
    span {
        color: @color-secundario;
    }
    a {
        text-decoration: none;
        color: @color-variacion;
    }
}